h2 {
    font-size: 48px;
    color: #26273E;
}
.bio-titre {
    font-size: 40px;
    font-weight: normal;
    color: #26273E;
    font-family: Montserrat;
}
.text {
    font-size: 28px;
    color: #26273E;
}
.nom {
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat;
    color: #26273E;
}
.locandina {
    border-radius: 25px;
}
.flex {
    margin-top: 100px;
}